.Dashboard {
    display: flex;
    height: 100vh;
   }
  
  
   .LeftSide {
     background: linear-gradient(#19105b, #472067, #7c3375, #FF6196);
    width: 250;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 12.5px;
    padding: 20px; /* Add padding as needed */
  }
  
  .RightSide {
    flex: 1;
    background-color: #fff; /* Set a background color for the right side */
    padding: 3px; /* Add padding as needed */
    margin-left: 237px;
  }
  /* ------------------ */
  /* Dashboard.css */
  
  .Header img {
    max-width: 50px; /* Set the maximum width of the image */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 50%; /* Add a border-radius to make it round (optional) */
    padding-left: 10px;
  }
  
  .footer {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  
  /* Add styles for images, Name, and button as needed */
  .footer img {
    cursor: pointer;
    width: 25px;
    height: 25px;
    transform: translateY(-5px);
    background-color: white;
    border-radius: 50%;
  }
  .footer .Name{
  transform: translateX(-2px);
  }
  .footer span:hover{
    cursor: pointer;
  }
  .LogoutIcon {
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
  }
  
  /* project add */
  .search-box {
    height: 28px;
    width: 100%; 
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .projectadd {
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:#19105B;
    width: 100%; 
    max-width: 86px;
    margin-left: 15px; 
    margin-top: 10px; 
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
    .search-box {
      width: 100%;
      max-width: none;
      margin-left: 0; 
    }
  
    .projectadd {
      width: 100%;
      max-width: none; 
      margin-left: 0; 
      margin-top: 10px; 
    }
  }
  
  
  .form-container{
    color: #6a6c71;
    display: flex;
    flex-direction: column;
    background:#FFE5EE;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 40px;
    margin-left: 162px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .add-event-button {
    background-color: #19105B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 4px;
    margin-top: 10px;
  }
  
  .form-containers {
    position: relative;
    z-index: 2;
  }
  
  .formdetailss {
    text-size-adjust: 10px; 
    flex-direction: column;
    align-items: center;
  }
  
  .close-buttons {
    position: absolute;
    right: 0; 
    top: -28px; 
    cursor: pointer;
  }
  
  .close-marks {
    font-size: 40px;
    color: rgb(255, 0, 0);
  }
  
  
  .edit-confirmation{
  position: relative;
  }
  
  .edit-confirmation .cross-buttons {
    position: absolute;
    right: 20px;
    /* left: 100px;  */
    top: 0px; 
    cursor: pointer;
  }
  
  .edit-confirmation  .cross-marks {
    font-size: 40px;
    color: rgb(255, 0, 0);
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
    .form-containers {
      position: relative;
      z-index: 99;
    }
    
    .close-buttons {
      position: absolute;
      right: 0; 
      top: -28px; 
      cursor: pointer;
    }
  
    .close-marks {
      font-size: 36px; 
    }
  }
  
  
  
   @media (max-width: 768px) {
    .form-containers {
      font-size: 14px;
      padding: 10px;
      z-index:99; 
    }
  }
  @media (max-width: 873px) {
    .RightSide {
      font-size: 14px;
      padding: 10px;
    }
  }
  @media (min-width: 360px) {
    .LeftSide {
      font-size: 14px;
      padding: 10px;
    }
  }
  
  .values{
    background-color: #f5f3f3;
  
  }
  
  .event-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  /* Style for event information */
  .event-info {
    margin-bottom: 5px;
  }
  
  /* Additional styles for strong tags within event information */
  .event-info strong {
    font-weight: bold;
    margin-right: 5px;
  }
  
  /* Customize other styles as needed */
  
  
  .input-button-container {
    display: flex;
    align-items: center; /* Vertically center items */
    
  
  }
  
  
  
  .input-button-container input {
    flex: 1; /* Allow the input to grow and fill available space */
    margin-right: 10px; /* Add some space between input and button */ 
  
  }
  
  .input-button-container .btn{
    /* margin-right: px; */
    width: 36px;
  }
  
  
  .plus-icon{
  
    margin-left: 900px;
    border-radius: 10px;
  
  }
  
  .butonclr{
  width: 38px;
    border-radius: 4px;
    margin-top: -2px;
    /* margin-right: 16px; */
  
  
  }
  
  .popup-overlay {
  
   position: fixed;
  
   top: 0;
  
   left: 0;
  
   width: 100%;
  
   height: 100%;
  
   background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  
   display: flex;
  
   justify-content: center;
  
   align-items: center;
  
  }
  
  
  
  /* Styling for the pop-up form */
  
  .popup-form {
  
   background-color: #fff;
  
   padding: 28px;
  
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
   border-radius: 5px;
  
   max-width: 560px; 
   max-height: 680px;
   overflow-y: auto;
   width: 100%;
  
  }
  
  .popup-form::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
  }
  
  .popup-form::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the scrollbar thumb */
  }
  
  
  
  .popup-form .add-event-button{
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:#19105B;
    width: 100%; 
    max-width: 540px;
    /* margin-left: 15px;  */
    margin-top: 10px; 
  }
  
  
  
  /* Form styling - use .popup-form to target elements within the form */
  
  .popup-form .form-groups {
  
   margin-bottom: 10px;
  
  }
  
  
  
  /* Additional styles for the form elements within the pop-up form */
  
  .popup-form input[type="text"],
  
  .popup-form input[type="date"],
  
  .popup-form select {
  
   width: 100%;
  
   padding: 8px;
  
   border: 1px solid #ccc;
  
   border-radius: 3px;
  
  }
  
  
  
  /* Styling for the add button within the pop-up form */
  
  .popup-form .butonclr {
  
   background-color: #28a745;
  
   color: #fff;
  
   border: none;
  
   padding: 5px 10px;
  
   cursor: pointer;
  
   transition: background-color 0.3s ease;
  
  }
  
  .popup-form .delete-btn{
    color: red;
    height: 40px;
    width: 30px;
    margin-top: 20px;
    margin-left: 4px;
  }
  
  
  .popup-form .butonclr:hover {
  
   background-color: #218838;
  
  }
  /* table css */
  
  .table-container {
  margin-top: 10px;
  overflow-x: auto; 
  max-height:40vh;
  overflow-y: auto;
  }
  
  .project-table {
  width: 100%;
  border-collapse: collapse; /* Combine cell borders */
  
  }
  
  .project-table thead {
  background-color: rgb(241, 219, 223);
  border-radius: 4px;
  }
  
  .project-table th,
  .project-table td {
  text-align: center; 
  vertical-align: middle;
  padding: 8px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  }
  
  .project-table td .table-change-edit{
  
  margin-left: 10px;
  text-align: center; 
  vertical-align: middle;
  padding: 5px;
  width: 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #19105B; 
  color:white;
  }
  .project-table td .table-change-delete{
  
    margin-left: 10px;
    text-align: center; 
    vertical-align: middle;
    padding: 5px;
    width: 60px;
    border-radius: 4px;
    outline: none;
  border: none;
    background-color: #FF095C; 
    color:white;
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
  }
  }
  
  /* edit actions css */
  
  
  /* Delete confirm */
  .delete-confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .confirmation-message{
    margin-bottom: 10px;
  }
  
  .confirmation-buttons .red-del{
    background-color: #FF095C;
    color: white;
    margin-right: 10px;
  }
  
  @media (max-width:246px) {
    .confirmation-buttons .red-del{
      margin-bottom: 10px;
    }
    
  }
  
  .confirmation-buttons .red-del:hover{
    background-color: red;
    color: white;
    margin-right: 10px;
  }