.profile-container {
    display: flex;
    align-items: center;
    max-width:400px;
}
.profile-container img {
    margin-right: 10px; /* Adjust margin as needed */
}
.details {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}
.designation {
    color: #888;
}

@media screen and (min-width: 768px) {
    .profile-container img {
        margin-right: 20px; /* Adjust margin as needed for larger screens */
    }
}