.list-items

{

  list-style-type: none;

}

.bday

{

   

height:50px;

 

}

.birthday-card-container

{

   

    margin-top: 30px;

}

.profile-card {

  top: 50px;

  right:60px;

  background-color: white;

  border: 1px solid #ccc;

  padding-right: 50px;

  overflow: scroll;

}

.username

 

{

  color:blue;

  size: 100px;

  font-weight: bold;

  padding-left:10px;

}

 

.names{

  display: flex;

  flex-direction: column;

}

.designation

{

  margin-left: 10px;

  color:black;

  padding: 0 0 0 0;

  height: 30px;

  transform: translateY(0px);/* This transformation doesn't affect the element */

}

.profileImage

{

  display:flex;

  justify-content: flex-start;

}

.profiletitle

{

  color:deeppink;

}

.profile-container {

  display: flex;

  align-items: center;

  max-height: 100px;

 

}

.profile-container img {

  margin-right: 10px; /* Adjust margin as needed */

}

.details {

  display: flex;

  flex-direction: column;

}

.name {

  font-weight: bold;

}

.designation {

  color: #888;

}

.iconbday

{

    display: flex;

    justify-content: end;

}

.icon

{

    padding-left: 10px;

}

 