*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Dashboard{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    /* background-color: red; */
    width:10%;
}

.main{
    margin-left: 240px;
    height: 100%;
    width: 100%-240px;
    /* background-color: blue; */

}
.main .header{
    color: #19105B;
    display: flex;
    padding: 1rem;
    font-weight: bold;
    justify-content: space-between;
}

.main .header span{
    margin-top: 8px;
}

.main .body .projectAllocation{
    /* background-color: red; */
    margin-left: 12px;
    width: 97%;
    padding: 0;
}

.main .body .events{
    /* background-color: red; */
    margin-top: 2%;
    margin-left: 12px;
    width: 65%;
    padding: 0;
}


@media only screen and (max-width:600px){
    .main{
        margin: 0;
        /* background-color: red; */
    }


    .main .header{
        background-color: #19105B;
        color: whitesmoke;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .main .header p{
        display: none;
        position: fixed;
        left: 5px;
        font-size: xx-small;
    }

    .main .body .projectAllocation{
        background-color: red;
        margin: 2%;
        width: 95%;
        padding: 0;
    }
    
    .main .body .events{
        background-color: red;
        margin: 2%;
        width: 95%;
        padding: 0;
    }
    
}