* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Dashboard {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    /* background-color: red; */
    width: 10%;
}

.main {
    margin-left: 240px;
    height: 100%;
    width: 100%-240px;
    /* background-color: blue; */

}

.main .header {
    color: #19105B;
    display: flex;
    padding: 1rem;
    font-weight: bold;
    justify-content: space-between;
}


.main .header span {
    margin-top: 8px;
}

.main .body .projectAllocation {
    /* background-color: red; */
    margin-left: 12px;
    width: 97%;
    padding: 0;
}

.main .body .events {
    /* background-color: red; */
    margin-top: 2%;
    margin-left: 12px;
    width: 65%;
    padding: 0;
}

.main .body .holidays {
    margin-top: 2%;
    margin-left: 12px;
    width: 31%;
    padding: 0;
}

.main .body .lower {
    display: flex;
}

@media only screen and (max-width:600px) {
    .main {
        margin: 0;
        /* background-color: red; */
    }


    .main .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        /* Adjust the z-index as needed */
        background-color: #19105B;
        color: whitesmoke;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main .header .cakeIcon {
        color: whitesmoke
    }

    .main .header h2 {
        margin-left: 12%;
    }

    .main .header p {
        font-size: small;
        margin-top: 1%;
        margin-left: 5%;
    }

    .main .header-info span {
        margin-right: 5px;
    }

    .main .header-info button {
        display: inline-block;
    }

    .main .body {
        margin-top: 20%;
    }

    .main .body .projectAllocation {
        margin: 2%;
        width: 95%;
        padding: 0;
    }

    .main .body .events {
        margin: 2%;
        width: 95%;
        padding: 0;
    }

    .main .body .holidays {
        margin: 2%;
        width: 95%;
        padding: 0;
    }

    .main .body .lower {
        display: flex;
        flex-direction: column;
    }

}