

.container-wrapper {
  width: 30%;
  margin: 0 auto;
  /* padding: 10px; */
  margin-left: 15px;
  border: 1px solid #151515; 
  border-radius: 10px;
  
}

.headers {
  background-color: #19105b;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;

}

.container {
  background-color: white;
  padding: 20px;
  margin: 20px;
  margin-top:1px;
  border: 1px solid #151515;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 25%;
  
}

.container strong {
  font-weight: bold;
}

.event_details{
    margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 40%; 
  margin-left: 20px;
  background-color: #FF6196;
  margin-top: 25px;
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .container-wrapper,
  .container {
    margin-top: 10px;
    width: 80%; 
  }


  .container-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  
  button {
    width: 100%;
    margin-left: 0; 
    margin-top: 10px; 
  }
}

