.search
{
    width: '100%',
    /* padding: '8px',
    marginBottom: '16px',
    fontSize: '16px',
    border: '1px solid #ccc',
    borderRadius: '4px',
    boxShadow: 'none',
    boxSizing: 'border-box',      */
}